HTTP_PORT="7050"
SOCKET_PORT="42161"

# --- DATENBANK KONFIGURATION ---
DB_ROOT_PASSWORD="123"
DB_HOST="vschat_db"
DB_PORT="3307"
DB_NAME="vschat"
DB_USER="vschat"
DB_PASSWORD="123"

# --- MINIO STORAGE KONFIGURATION ---
MINIO_ADMIN_USER="vschat"
STORAGE_ENDPOINT="vsc-storage"
PUBLIC_STORAGE_HOST="localhost"
PUBLIC_STORAGE_PORT="9000"
PUBLIC_STORAGE_SSL="false"
MINIO_ADMIN_PASSWORD='123'
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"

# ---SSL---
SSL_KEY_PATH=
SSL_CERT_PATH=
SSL_INTERMEDIATE_PATH=